article
  .container
    h1 Privacy Policy
    p Solar Gate November 21, 2023
    p This Privacy Policy ("Policy") details the data handling practices of Solar Gate's developers (referred to as "we", "us", or "the Company"), focusing on how we collect, use, disclose, and safeguard our users' ("you") information.
    p This Policy is exclusively applicable to Solar Gate and does not apply to other products or websites of the company.
    p We recommend that users periodically review this Policy, as it may undergo updates. For those who have opted in for notifications, we will communicate any Policy changes via email, in-app messages, or notifications.
    h2 DATA WE DO NOT COLLECT
    p We wish to explicitly state the information we do not gather:
    h2 WE DO NOT COLLECT:
    p Details about your usage of Solar Gate, including the apps, services, or websites you access while using our service.
    p Your original IP address and the server IP addresses when using our service.
    p DNS queries made during your connection to Solar Gate.
    h2 DATA WE COLLECT
    p As an entity dedicated to internet privacy and security, we deeply value our customers' privacy. Our approach is grounded in transparency and trust in our relationships with users.
    p The data we collect is categorized for clarity on what is gathered, how, and why.
    h2 ACCOUNT DATA
    p Your account's registration date (e.g., 2018/09/01) is collected automatically upon creation.
    p Your subscription status (e.g., 2018/09/01 - 2018/10/01) is recorded when a purchase is made.
    p Please note, this data is solely for the purpose of user support.
    h2 AGGREGATED DATA
    p Operating system details (e.g., iOS 11.3.1-10,000,000) are captured each time the app is launched.
    p App version data (e.g., Version 6.1_132_432908b) is collected at app launch.
    p Daily active users stats (e.g., 2018/09/01-19,000,000) are accumulated every time the app is used.
    p User geodemographics (e.g., US-100,000,000) are sourced from the App Store and Google Play Store.
    p This information aids us in better understanding our user base and improving customer satisfaction in our product development process.
    h2 VPN CONNECTION DATA
    p When you connect to our VPN, we capture server location details (such as "US-California server 1").
    p Each VPN session is logged with connection timestamps (like "Connected@15:30 2018/05/15").
    p In the event of a VPN connection failure, error reports (for instance, "Error_Userdoesnotallowconfiguration") are documented.
    p The type of network you use (e.g., 4G) is monitored by a third-party analytics service provider.
    p We use this data exclusively to improve and diagnose our VPN service. Importantly, it is AUTOMATICALLY AND PERMANENTLY ERASED from our systems within 96 HOURS.
    h2 OTHER INFORMATION
    p We collect analytics data (such as app crash reports and in-app user engagement) during the usage of Solar Gate.
    p Advertising-related data (like iOS ad identifier - IDFA, Android ad master identifier) is also accumulated.
    p This information is crucial in assessing the effectiveness of the Solar Gate app and its functionalities, supporting the maintenance of our free VPN service, and is not shared with external advertisers.
    p For additional details about our analytics service providers please read:
    p AppMetrica: https://metrica.yandex.com/about/info/privacy-policy
    p Facebook: https://business.facebook.com/privacy/explanation
    p Appsflyer: https://www.appsflyer.com/product/data-privacy//
    h2 OUR COMMITMENT TO PRIVACY PROTECTION
    p Access to sensitive data within our company is strictly limited to certain teams, like support and accounting, to ensure security.
    p Data related to VPN connections is permanently removed from our systems 96 hours after its collection.
    p Our privacy practices undergo regular assessments and updates by designated personnel to ensure they align with legal requirements.
    p Should you have any questions or requests related to privacy, please reach out to us at support@, and we'll respond within 48 hours.
    h2 COOKIE POLICY
    p Our website uses cookies to improve our services, specifically:
    p Session cookies: Utilized for storing your site preferences and login information.
    p Google Analytics: Used to track the performance of specific pages on our site and evaluate our advertising efforts. For more information about Google Analytics' cookie policy, please visit: https://policies.google.com/technologies/types
    h2 GDPR COMPLIANCE
    p Under the GDPR (General Data Protection Regulation), you as a Solar Gate user have several rights concerning your personal data, including:
    p Being informed about the data we collect, as outlined in this Policy.
    p Requesting a copy of your data, which may take up to 30 days to process.
    p Correcting any inaccurate or incomplete personal information.
    p Asking for the removal of your data from our records, although we may need to retain certain payment details for tax purposes.
    p Requesting a pause in the processing of your personal data.
    p Receiving your data in a standard format, if requested, which could take up to 40 days.
    p Objecting to our use of your personal data.
    p Being informed about any profiling and automated decision-making we engage in.
    h2 CHANGES AND UPDATES TO THIS SOLAR GATE PRIVACY POLICY
    p To stay informed about any modifications to our Policy, which may occur over time, please regularly review this page. Any changes will be communicated via our Service, with the last update date clearly indicated. By continuing to use our Service after modifications, you are agreeing to the revised Policy. If changes have a significant impact on your rights or responsibilities, we will make every effort to notify you through our Service, the contact information you've provided, or other appropriate channels.
