article
  .container
    h1 Subscription
    h2 Solar Gate Ultimate Guard Pro
    h3 Length of Subscription
    p 1 week
    p 1 month
    p 6 months
    h3 Subscription price
    p Free Trial - 14 days free, then
    p 1 week - $6.49
    p 1 month - $24.99
    p 6 months - $45.99
    p Take advantage of our no-commitment 14-day free trial, with the option to cancel at any moment.
    p Upon confirming your purchase, your iTunes account will be billed.
    p Your subscription will automatically renew unless you cancel it at least 24 hours before the current period ends.
    p Choose from subscription periods of one week, one month, or six months.
    p Your account will be charged for renewal 24 hours before your current period ends, in line with your chosen payment option.
    p Subscription costs are $6.49 for one week, $24.99 for one month, and $45.99 for six months.
    p After buying, you can manage your subscription and disable auto-renewal in your Account Settings.
    p It is not possible to cancel a subscription while it is active.
    p In the event of a free trial offer, any portion not used will be lost upon subscription purchase.
