article
  .container
    h1 Terms Of Service
    p Modified: November 21, 2023
    p These Terms outline the rules for accessing and utilizing the Content ("Content") and Services ("Services") provided by Solar Gate ("we", "us", "the Company"), encompassing our website ("Website"), applications ("Apps"), and any software ("Software") available.
    h2 ACCEPTANCE OF THE TERMS
    p By interacting with our Content or Services, you or your representatives ("you") acknowledge and agree to these Terms. This forms a legally binding agreement (the "Agreement") between you and Solar Gate, applicable to all users, including those with paid accounts. If you disagree with any of these Terms, please refrain from using our Service.
    h2 MODIFICATION
    p Solar Gate reserves the right to modify these Terms as needed. Should such changes occur, and if you've agreed to notifications, we will inform you via email, in-app message, or push notification. It's your responsibility to stay updated on these changes. Continued use of Solar Gate's Services and Content after changes implies your acceptance and agreement to the updated Terms.
    h2 PRIVACY POLICY
    p Solar Gate does not monitor or record traffic data, DNS queries, browsing history, or specific VPN destinations.
    p We collect certain information, such as email addresses and payment details, during registration and purchase for customer support and billing. Our website's Privacy Statement provides detailed insights into how this information is utilized. We strongly advise reviewing our Privacy Statement before using our services.
    p Rest assured, user information is not shared with third parties, and we will only release information if legally mandated by a court.
    h2 LICENSE
    p Solar Gate retains all rights not specifically granted to users.
    p We provide you with a non-exclusive, non-transferable license to use our service. The Services must not be modified, distributed, sublicensed, or used for commercial purposes, nor made available to third parties.
    p Any rights not expressly given to users remain with Solar Gate.
    h2 ACCEPTABLE USAGE POLICY
    p It's your responsibility to ensure that your use of the Website, Apps, Software, and Services complies with all local, state, national, and international laws and regulations. You must adhere to these Terms and all relevant laws, regulations, and policies when using our Website, Apps, Software, or Services.
    p You agree to keep your Solar Gate account details confidential and are accountable for any activity that occurs under your account on our servers. If you believe your account information has been compromised, it's important to contact Solar Gate immediately.
    p When using our Service, you agree to avoid the following prohibited activities:
    p Sending unsolicited material like spam through the Service.
    p Transmitting illegal, abusive, hateful, threatening, obscene content, or content that infringes on intellectual property or privacy rights.
    p Distributing, reproducing, uploading, downloading, or posting content that violates intellectual property rights without authorization from the owner.
    p Distributing, reproducing, uploading, downloading, or posting any content that includes sexual or explicit depictions of minors.
    p Attempting unauthorized access to the Service, its systems, or networks, such as hacking.
    p Engaging in behavior that disrupts or interferes with other users' enjoyment or use of the Services, including but not limited to excessive network usage.
    p Solar Gate reserves the right to terminate your account and access to the Service without notice or refund for violations of these Terms and applicable laws.
    h2 DISCLAIMERS
    p This service is offered "as is" and "as available," with no guarantees, either expressed or implied, from Solar Gate. We do not guarantee that the Services will consistently meet your needs, be uninterrupted, or that all features will be perpetually available. Utilizing the Website and Services is entirely at your own risk and discretion.
    p The performance of the VPN Service, including aspects like coverage, speed, quality, and server location, might vary and be subject to unavailability due to factors such as third-party service disruptions, emergencies, equipment malfunctions, network constraints, and signal strength. Solar Gate is not responsible for ensuring the accuracy, quality, security, or confidentiality of your data, messages, or pages, particularly in cases of service interruptions or performance issues.
    p Solar Gate has the authority to impose limits on usage or services, suspend the Service, or restrict certain types of usage at its sole discretion.
    h2 LIMITATION OF LIABILITY
    p Solar Gate and its partners, affiliates, subsidiaries, officers, and employees will not be held liable for any lost profits, indirect, special, incidental, punitive, or consequential damages arising from the use of the services, under any legal basis, including contract, tort, strict liability, or negligence. This includes any form of damages or losses, even if there has been a prior warning about the possibility of such damages. This clause is not applicable where it's prohibited by law.
    h2 OWNERSHIP
    p Solar Gate retains ownership of the Solar Gate service, including its visual interfaces, information, servers, products, software, graphics, and all other elements of the service.
    h2 INDEMNIFICATION
    p By engaging with the Content and Service, you agree to indemnify and hold Solar Gate, its employees, directors, agents, suppliers, affiliates, and their related personnel, agents, directors, shareholders, and members harmless against any claims, costs, including legal fees, arising from your use of the Content and Service, or any violation of this Agreement. Solar Gate reserves the right to assume the defense and control of any matter for which you are obliged to indemnify, although this does not relieve you of your indemnification responsibilities.
