include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body.article
    include ../components/global/header
    //main
    main
      include ../pages/article/policy
    include ../components/global/footer
    include ../components/global/scripts
