//first-screen
section.ft-screen
  .container.ft-screen__container
    .ft-screen__left
      h1.ft-screen__title VPN Solar Gate
      p.ft-screen__text VPN that empowers you to navigate the digital world with security, speed, and without boundaries. Your ultimate choice for safe and speedy online access.
      a.btn.btn_primary.ft-screen__btn(href="#contacts")
        span Join us

