section.adventages
  .container
    h2.adventages__title.hidden Adventages
    ul.advantages-list
      li.advantages-list__item
        span.advantages-list__title Multiple Layers of
          br
          | Data Protection
        picture
          source(srcset="./img/advantages1.webp, ./img/advantages1-2x.webp 2x" type="image/webp")
          img(src="./img/advantages1.png", srcset="./img/advantages1-2x.png 2x", alt="Multiple Layers of Data Protection", loading="lazy", width="732", height="1138")
      li.advantages-list__item
        span.advantages-list__title Swift and Robust
          br
          | VPN Connectivity
        picture
          source(srcset="./img/advantages2.webp, ./img/advantages2-2x.webp 2x" type="image/webp")
          img(src="./img/tadvantages2.png", srcset="./img/advantages2-2x.png 2x" alt="Swift and Robust VPN Connectivity", loading="lazy", width="732", height="1138")
      li.advantages-list__item
        span.advantages-list__title Enhanced Ad Blocking
          br
          | Technology
        picture
          source(srcset="./img/advantages3.webp, ./img/advantages3-2x.webp 2x" type="image/webp")
          img(src="./img/tadvantages3.png", srcset="./img/advantages3-2x.png 2x", alt="Enhanced Ad Blocking Technology", loading="lazy", width="732", height="1138")




