section.contacts#contacts
  .container
    .contacts__wrap
      h2.contacts__title Get in touch
      address
        | Should you require assistance, don't hesitate to reach out to us by email or utilize the live chat feature available at&nbsp;
        a(href="mailto:support@solargateapp.com") support@solargateapp.com
        | .



