section.faq
  .container
    h2.faq__title Faq
    ul.faq-list
      li.faq-list-item
        span.faq-list-item__title How does Solar Gate work?
        .faq-list-item__bottom
          p.faq-list-item__text Solar Gate offers a straightforward experience! Select the feature that best fits your security needs and personalize your experience for optimal protection, or opt for our one-tap automatic setup.
      li.faq-list-item
        span.faq-list-item__title How do I begin using Solar Gate?
        .faq-list-item__bottom
          p.faq-list-item__text To start, choose a subscription plan that aligns with your needs or take advantage of our free trial to explore our premium features. Simply download the app, and you're all set!
      li.faq-list-item
        span.faq-list-item__title Is Solar Gate entirely free?
        .faq-list-item__bottom
          p.faq-list-item__text Solar Gate uses a subscription model to deliver the highest quality and most secure service. However, we offer a free trial for you to try out our features.
      li.faq-list-item
        span.faq-list-item__title Does Solar Gate work with my device?
        .faq-list-item__bottom
          p.faq-list-item__text Yes, indeed! Solar Gate is specially crafted for iOS devices and is compatible with most of the latest models, ensuring smooth and consistent functionality.
      li.faq-list-item
        span.faq-list-item__title Are there any restrictions when using Solar Gate?
        .faq-list-item__bottom
          p.faq-list-item__text Not at all. You can enjoy your regular online activities with the additional assurance of robust security provided by Solar Gate.
