section.plans
  .container
    h2.plans__title Start with Premium
    ul.plans-list
      li.plans-list__item
        h3.plans-list__title 1 WEEK - 9.99$
        a.btn.btn_primary.plans-list__btn(href="#contacts")
          span Start 7-Days Trial
      li.plans-list__item
        h3.plans-list__title 1 MONTH - 19.99$
        a.btn.btn_primary.plans-list__btn(href="#contacts")
          span Start 30-Days Trial
      li.plans-list__item
        h3.plans-list__title 1 YEAR - 45.99$
        a.btn.btn_primary.plans-list__btn(href="#contacts")
          span Start 365-Days Trial
