section.services
  .container
    h2.services__title Services
    ul.services-list
      li.services-list__item
        picture
          source(srcset="./img/vpn.webp, ./img/vpn-2x.webp 2x" type="image/webp")
          img(src="./img/vpn.png", srcset="./img/vpn-2x.png 2x", alt="VPN", loading="lazy", width="375", height="243")
        h3.services-list__title VPN
        p.services-list__text Our VPN connections offer encryption for superior privacy protection. Ensure your data remains secure and your online activities private.
      li.services-list__item
        picture
          source(srcset="./img/adblock.webp, ./img/adblock-2x.webp 2x" type="image/webp")
          img(src="./img/adblock.png", srcset="./img/adblock-2x.png 2x", alt="Advanced Ad Block", loading="lazy", width="375", height="243")
        h3.services-list__title Advanced Ad Block
        p.services-list__text Our customizable ad-blocking feature effectively filters out a range of ad types, providing a smoother and safer browsing experience.
      li.services-list__item
        picture
          source(srcset="./img/dataleaks.webp, ./img/dataleaks-2x.webp 2x" type="image/webp")
          img(src="./img/dataleaks.png", srcset="./img/dataleaks-2x.png 2x", alt="DATA LEAKS", loading="lazy", width="375", height="243")
        h3.services-list__title DATA LEAKS
        p.services-list__text Our robust data leak protection feature continuously monitors and detects potential threats, ensuring your personal data stays secure and private.
