//footer
footer.footer
  .container
    ul.footer-list
      li.footer-list__item
        a(href="./privacyp.html") Privacy Policy
      li.footer-list__item
        a(href="./termsofs.html") Terms Of Service
      li.footer-list__item
        a(href="./subs.html") Subscription Info
      li.footer-list__item
        a(href="./supp.html") Support Page
    p.copyright Copyright &copy; 2023. All Rights Reserved.
