//header
header.header
  .container.header__container
    a.logo(href="./")
      img(src="./img/logo.svg", alt="Logo")
      span Solar Gate
    .menu
      a.btn.btn_primary.header__btn(href="#contacts")
        span Join us
